body {
    padding: 3rem
}

.container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.container > * {
    padding: 1rem;
    border: 1px solid black;
}

.eleven {
    order: 0;
}

.two {
    order: 1;
}

.twelve {
    order: 2;
}

.four {
    order: 3;
}

.eight {
    order: 4;
}

.nine {
    order: 5;
}

.six {
    order: 6;
}

.five {
    order: 7;
}

.one {
    order: 8;
}

.three {
    order: 9;
}

.seven {
    order: 10;
}

.ten {
    order: 11;
}